<div class="home d-flex">
  <section class="main-content">
    <div class="header d-flex">
      <h1>Discover</h1>
      <div class="filters d-flex">
        <ul>
          <li class="links">Popular</li>
          <li class="links">Trending</li>
          <li class="links">Newest</li>
          <li class="links">Top Rated</li>
        </ul>
      </div>
      <div class="search"><input type="text" placeholder="SEARCH"/></div>
    </div>
    <div class="listing">
      <!-- <div *ngFor="let d of items">
        <div>{{d.poster_path}}</div>

      </div> -->
    </div>
  </section>
  <section class="sidebar">
    <h2>Discover Options</h2>

  </section>
</div>

<router-outlet></router-outlet>